body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    color: var(--COEmY);
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    height: 60px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: black;
}

#flask {
    padding-right: 5px;
    margin-right: 5px;
}

nav div:last-child {
    display: flex;
    align-items: center;
}

.lnav {
    padding: 5px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

#about {
    margin-left: 15px;
}

.rnav {
    padding: 5px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.elipses {
   width: 25px;
   padding-right: 5px;
    margin-right: 5px;
}

#account {
    margin-right: 10px;
}

.logos {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
}

.letter {
    margin: 0;
    padding: 0;
}

.letters {
    display: flex;
    justify-content: center;
}

.buttons {
    display: block;
    text-align: center;
}

.whitespace {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    height: 2.5rem; 
    background-color: #f2f2f2;
}
