body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    color: var(--COEmY);
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    height: 60px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: black;
}

#flask {
    position: relative;
}

.flaskspacer {
    padding-right: 5px;
    margin-right: 10px;
}

.elipses {
    display: block;
    position: relative;
    width: 25px;
 }

 .appspacer1 {
    padding-right: 5px;
    margin-right: 10px;
 }
 
 .appspacer2 {
    position: relative;
 }

#flask:hover::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.10;
    border-radius: 100px;
 }

 .appspacer2:hover::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.10;
    border-radius: 100px;
 }

nav div:last-child {
    display: flex;
    align-items: center;
}

.lnav {
    padding: 5px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.lnav:hover {
    text-decoration: underline;
}

#about {
    margin-left: 15px;
}

.rnav {
    padding: 5px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.rnav:hover {
    text-decoration: underline;
}

#account {
    margin-right: 10px;
}

.logos {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
}

.letter {
    margin: -1.50px;
    padding: 0;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 92px;
    font-optical-sizing: auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-style: normal;
}

#g {
    font-family: "Red Hat Display", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: #4285f4;
}

#o {
    color: #ea4335;
}

#o2 {
    color: #fbbc05
}

#g2 {
    color: #4285f4;
}

#l {
    color: #34a853
}

#e {
    color: #ea4335;
}

.buttons {
    padding: 26px 20px 20px;
    display: block;
    text-align: center;
}

.buttons2 {
    padding: 18px 0px 0px;
}

.butt {
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    height: 36px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    cursor: pointer;
    color: #3c4043;
}

.butt:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.whitespace {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

.lfoot, .cfoot, .rfoot {
    color: black;
    text-decoration: none;
}
/*
.footerleft {
    display: flex;
    justify-content: flex-start;
}

.footercent {
    display: flex;
    justify-content: center;
}

.footerright {
    display: flex;
    justify-content: flex-end;
}
*/
.lfoot:hover, .cfoot:hover, .rfoot:hover{
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 2.5rem; 
    background-color: #f2f2f2;
}
